/*Ana Paula McCullagh 
CS 300 Client Side Web Development
Instructor: Yehuda Gutstein
*/


@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}